.team {
  ul {
    a {
      text-decoration: none;
      color: var(--dark);

      li {
        padding: 1.6rem 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}
