.splash {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(4, 109, 4), rgb(179, 161, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 70%;
    max-width: 546px;
    display: block;
  }

  .socialMediaButton {
    width: 100%;
    padding-inline: 1.6rem;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.button {
        width: 100%;
        border: 1px solid #ededed;
        padding: 1.2rem 1rem;
        font-size: 1.8rem;
        font-weight: 700;
        outline: none;
        border-radius: 0.4rem;
        text-align: left;
        background-color: #ededed;
        margin: 1.6rem 0;

        svg {
          width: 38px;
          height: 38px;
        }

        img {
          width: 38px;
          height: 38px;
        }
      }
    }
  }

  .formLogin {
    width: 100%;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;

    form {
      input[type="text"],
      input[type="password"] {
        display: block;
      }

      button {
        width: 100%;
        &:hover {
          background-color: rgb(231, 231, 231);
        }
      }

      p {
        text-align: center;
        color: white;
        margin: 0.8rem 0;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    hr {
      margin: 1.6rem 0.2rem;
      border: 0;
      height: 0.3rem;
      background-color: rgba(white, $alpha: 0.3);
    }
  }
}
